<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibay.dao.CarouselMapper">

  <resultMap id="BaseResultMap" type="com.ibay.entity.Carousel">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, image_url, type, create_time, update_time
  </sql>

  <insert id="insert" parameterType="com.ibay.entity.Carousel">
    insert into t_carousel (id, image_url, type, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <select id="findById" parameterType="int" resultMap="BaseResultMap">
    SELECT id,image_url,type from t_carousel WHERE id = #{id}
  </select>



</mapper>