<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibay.tea.dao.CategoryRecordMapper">
  <resultMap id="BaseResultMap" type="com.ibay.tea.entity.CategoryRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="goods_weight" jdbcType="INTEGER" property="goodsWeight" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, goods_id, category_id, goods_weight, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_category_record where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_category_record where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.ibay.tea.entity.CategoryRecord">
    insert into t_category_record (goods_id, category_id, goods_weight)
    values (
      #{goodsId,jdbcType=INTEGER},
      #{categoryId,jdbcType=INTEGER},
      #{goodsWeight,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.ibay.tea.entity.CategoryRecord">
    update t_category_record
    set goods_id = #{goodsId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      goods_weight = #{goodsWeight,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>