<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibay.tea.dao.TbApiUserAddressMapper">
  <resultMap id="BaseResultMap" type="com.ibay.tea.entity.TbApiUserAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oppen_id" jdbcType="VARCHAR" property="oppenId" />
    <result column="address_name" jdbcType="VARCHAR" property="addressName" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="bind_num" jdbcType="VARCHAR" property="bindNum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oppen_id, address_name, longitude, latitude, phone_num, bind_num
  </sql>

  <select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from tb_api_user_address where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findUserAddressByOppenId" resultMap="BaseResultMap" parameterType="string">
    select <include refid="Base_Column_List" /> from tb_api_user_address where oppen_id = #{oppenId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="int">
    delete from tb_api_user_address where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.ibay.tea.entity.TbApiUserAddress">
    insert into tb_api_user_address (oppen_id, address_name,
      longitude, latitude, phone_num, 
      bind_num)
    values (#{oppenId,jdbcType=VARCHAR}, #{addressName,jdbcType=VARCHAR},
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, 
      #{bindNum,jdbcType=VARCHAR})
  </insert>

</mapper>