<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibay.tea.dao.TbApiUserMapper">
  <resultMap id="BaseResultMap" type="com.ibay.tea.entity.TbApiUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="wechat_num" jdbcType="VARCHAR" property="wechatNum" />
    <result column="oppen_id" jdbcType="VARCHAR" property="oppenId" />
    <result column="wechat_phone_num" jdbcType="VARCHAR" property="wechatPhoneNum" />
    <result column="user_bind_phone_num" jdbcType="VARCHAR" property="userBindPhoneNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_head_image" jdbcType="VARCHAR" property="userHeadImage" />
  </resultMap>

  <sql id="Base_Column_List">
    id, nick_name, wechat_num, oppen_id, wechat_phone_num, user_bind_phone_num, create_time, 
    update_time, user_head_image
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from tb_api_user where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findApiUserByOppenId" resultMap="BaseResultMap" parameterType="string">
      SELECT * FROM tb_api_user WHERE oppen_id = #{oppenId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_api_user where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.ibay.tea.entity.TbApiUser">
    insert into tb_api_user (nick_name, wechat_num,
      oppen_id, wechat_phone_num, user_bind_phone_num,
      create_time, update_time, user_head_imge
      )
    values (#{nickName,jdbcType=VARCHAR}, #{wechatNum,jdbcType=VARCHAR},
      #{oppenId,jdbcType=VARCHAR}, #{wechatPhoneNum,jdbcType=VARCHAR}, #{userBindPhoneNum,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{userHeadImge,jdbcType=VARCHAR}
      )
  </insert>

</mapper>