<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibay.tea.dao.TbCmsMenuMapper">
  <resultMap id="BaseResultMap" type="com.ibay.tea.entity.TbCmsMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="is_parent" jdbcType="INTEGER" property="isParent" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_name, is_parent, parent_id, create_time, menu_url
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from tb_cms_menu where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from tb_cms_menu
  </select>
  <select id="findByIds" resultType="com.ibay.tea.entity.TbCmsMenu">
    SELECT <include refid="Base_Column_List" /> from tb_cms_menu
  </select>

  <delete id="deleteMenu" parameterType="java.lang.Integer">
    delete from tb_cms_menu where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="addMenu" parameterType="com.ibay.tea.entity.TbCmsMenu">
    insert into tb_cms_menu ( menu_name, is_parent,
      parent_id, create_time, menu_url
      )
    values (#{menuName,jdbcType=VARCHAR}, #{isParent,jdbcType=INTEGER},
      #{parentId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{menuUrl,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="saveUpdateMenu" parameterType="com.ibay.tea.entity.TbCmsMenu">
    insert into tb_cms_menu (id, menu_name, is_parent,
    parent_id, menu_url
    )
    values (#{id,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{isParent,jdbcType=INTEGER},
    #{parentId,jdbcType=INTEGER},  #{menuUrl,jdbcType=VARCHAR}
    )
  </insert>

</mapper>