<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibay.tea.dao.TbUserCouponsMapper">
  <resultMap id="BaseResultMap" type="com.ibay.tea.entity.TbUserCoupons">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oppen_id" jdbcType="VARCHAR" property="oppenId" />
    <result column="coupons_id" jdbcType="INTEGER" property="couponsId" />
    <result column="coupons_name" jdbcType="VARCHAR" property="couponsName" />
    <result column="receive_date" jdbcType="INTEGER" property="receiveDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="coupons_poster" jdbcType="VARCHAR" property="couponsPoster" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oppen_id, coupons_id, coupons_name, receive_date, create_time, `status`,coupons_poster,expire_date
  </sql>

  <update id="updateStatusById" parameterType="int">
      UPDATE tb_user_coupons SET `status` = #{status} where id=#{id}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from tb_user_coupons where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findCouponsByCondition" resultMap="BaseResultMap">
    SELECT * FROM tb_user_coupons
    <where>
      <if test="oppenId != null">
        oppen_id = #{oppenId}
      </if>
      <if test="receiveDate != null">
        AND receive_date = #{receiveDate}
      </if>
      and `status` = 0
    </where>
    limit 0,1
  </select>

  <select id="findOneCouponsByOppenId" parameterType="string" resultMap="BaseResultMap">
      SELECT * from tb_user_coupons WHERE oppen_id = #{oppenId} AND `status` = 0
  </select>

  <select id="selectValidUserCoupons" resultMap="BaseResultMap" parameterType="com.ibay.tea.entity.TbUserCoupons">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons where id = #{id,jdbcType=INTEGER} and oppen_id = #{oppenId} and `status` = 0
  </select>

  <select id="findUserValidCoupons" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons where oppen_id = #{oppenId} and `status` = 0
  </select>
  <select id="getUserCouponsByOppenId" resultMap="BaseResultMap" parameterType="string">
    SELECT <include refid="Base_Column_List" /> from tb_user_coupons where oppen_id = #{oppenId} limit 0,10
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user_coupons  where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.ibay.tea.entity.TbUserCoupons" keyProperty="id" useGeneratedKeys="true">
    insert into tb_user_coupons (oppen_id, coupons_id, coupons_name, receive_date, create_time, `status`,coupons_poster,expire_date)
    values (#{oppenId,jdbcType=VARCHAR}, #{couponsId,jdbcType=INTEGER},
      #{couponsName,jdbcType=VARCHAR}, #{receiveDate,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER},#{couponsPoster},#{expireDate})
  </insert>
</mapper>